@font-face{font-family: sohne; font-weight: normal; src: url('fonts/Sohne-Buch.ttf');}
@font-face{font-family: sohne; font-weight: bold; src: url('fonts/Sohne-Kraftig.ttf');}

*{
  margin: 0px;
  box-sizing: border-box;
  font-family: sohne;
  font-weight: normal;
  font-size: px;
}
html{
  height: 200%;
}
body{
  height: 100%;
}
h1{
  font-size: 18px;
  font-weight: bold;
}
p{
  font-size: 20px;
}
.main-container{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.landing-container{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 100vh;
  border: 1px solid red;
}
.report-container{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 100%;
}
.content{
  display: flex;
  padding: 20px;
  flex-direction: column;
  height: 100%;
  border: 1px solid red;
}
#sx{
  flex-basis: 25%;
}
#center{
  flex-basis: 50%;
}
#dx{
  flex-basis: 25%;
}
#piccolo{
  font-size: 16px;
}
